.csstransitions.csstransforms3d {
	$transition-duration: 500ms;
	$translate-z-increment: 300;

	.carousel {
		position: relative;
		@include perspective(800);
		@include perspective-origin(center bottom);

		ol, li, img {
			@include transform(translate3d(0, 0, 0));
		}

		ol, li {
			@include transform-origin(50%, 100%);
			@include transition(all $transition-duration $ease-out-expo, opacity ($transition-duration / 3) $linear);
			@include transform-style(preserve-3d);
		}

		ol {
			position: relative;
			@include translateZ(0);
			min-height: 400px;
			pointer-events: none;

			li {
				margin-top: 10px;
				top: 0;
				left: 0;
				position: absolute;
				opacity: 1;
				pointer-events: auto;
			}

			$z: 0px;

			@for $i from 1 through 5 {
				&.position-#{$i} {
					@include translateZ(#{$z});

					@if ($i - 1 > 0) {
						li:not(:nth-child(#{$i})) {
							pointer-events: none;
							opacity: 0;
						}
					}
				}

				li:nth-child(#{$i}) {
					@include translateZ(-(#{$z}));
				}

				$z: $z + $translate-z-increment;
			}
		}

		ul {
			bottom: -35px;
			left: 0;
			width: 100%;
			position: absolute;
			text-align: center;

			li {
				margin: 0 1px;
				padding: 0;
				text-indent: -9999px;
				@include inline-block;
				width: 10px;
				height: 10px;
				border: 2px solid #00aeef;
				@include border-radius(5px);
				cursor: pointer;

				&:hover {
					background: #fff;
				}

				&.active {
					background: #00aeef;
				}
			}
		}
	}	

	#work.all .carousel {
		ol li {
			position: static;
			@include translateZ(0);
		}

		ul {
			display: none;
		}
	}
}
